<% if @object.errors.any? %>

    <h2>The following errors prevented this from being accepted</h2>
    <ul>

      <% @object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>